<div>
    <div ng-include="'header.html'">
    </div>
    <div class="col-sm-4">
        <h3>Search</h3>
        <div class="well" ng-include="'carsearch.html'">
        </div>
        <div ng-controller="SearchHistoryController">
            <h3>Search history</h3>
            <div class="well table-responsive">
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="search in searches track by $index" data-ng-click="UpdateSearchFormHistory(search)"> {{search}}
                    </li>
                </ul>
            </div>
            <h3>Search Savings</h3>
            <div class="well table-responsive">
                <ul class="list-group" ng-init="GetSavedSearch()">
                    <li class="list-group-item" data-ng-repeat="savedSearch in savedSearchInfos track by $index" data-ng-click="UpdateSearchFormSaved(savedSearch)">Name:{{savedSearch.name}};
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="col-xs-12 col-sm-12 col-md-12" ng-include="'addCar.html'">
        </div>
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12" ng-controller="CarResultController">
            <h3>Search results</h3>
            <div>
                <div class="col-xs-12 col-sm-12 col-md-12" ng-include="'extraInfo.html'">
                </div>
            </div>
            <table class="table">
                <thead>
                    <th></th>
                    <th>FIN</th>
                    <th>Vehicle Type</th>
                    <th>Model</th>
                    <th>Fuel Type</th>
                    <th>Capacity</th>
                    <th>Year</th>
                    <th>Location</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="car in cars">
                        <td> <a href="" class="btn btn-info" ng-click="CarInfo(car.fin)">Details</a></td>
                        <td>{{car.fin}}</td>
                        <td>{{car.vehicleType}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.fuelType}}</td>
                        <td>{{car.engineCapacity}} cm<sup>3</sup></td>
                        <td>{{car.year}}</td>
                        <td>{{car.location}}</td>
                        <td>{{car.price}} &euro;</td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination pull-right">
                <ul class="pagination">
                    <li>
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li>
                        <a href>{{currentPage}}</a>
                    </li>
                    <li>
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>