<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html ng-app="UVSClient" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://xmlns.jcp.org/jsf/passthrough" xmlns:b="http://bootsfaces.net/ui">

    <head>
        <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
        <title>UVS Client - REST</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="resources/css/site.css" />
    </head>

    <body>
        <div ng-include="'header.html'">
        </div>
        <div class="col-sm-5">
            <h3>Search</h3>
            <div class="well" ng-include="'carsearch.html'">
            </div>
            <h3>Search history</h3>
            <div class="well table-responsive" ng-controller="SearchHistoryController">
                <table class="table">
                    <thead>
                        <th>FIN</th>
                        <th>Vehicle Type</th>
                        <th>Model</th>
                        <th>Fuel Type</th>
                        <th>Capacity</th>
                        <th>Year</th>
                        <th>Location(Country)</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="search in searches">
                            <td>{{search.fin}}</td>
                            <td>{{search.vehicleType}}</td>
                            <td>{{search.model}}</td>
                            <td>{{search.fuelType}}</td>
                            <td>{{search.engineCapacity}}</td>
                            <td>{{search.year}}</td>
                            <td>{{search.location}}</td>
                            <td>{{search.price}}</td>
                        </tr>
                    </tbody>
                </table>               
            </div>
        </div>
        <div class="col-sm-7 table-responsive" ng-controller="CarResultController">
            <h3>Search results</h3>
            <table class="table">
                <thead>
                    <th></th>
                    <th>FIN</th>
                    <th>Vehicle Type</th>
                    <th>Model</th>
                    <th>Fuel Type</th>
                    <th>Capacity</th>
                    <th>Year</th>
                    <th>Location(Country)</th>
                    <th>Price</th>
                    
                </thead>
                <tbody>
                    <tr data-ng-repeat="car in cars">
                        <td> <a href="#" ng-click="removeCar(data)">Details</a></td>
                        <td>{{car.fin}}</td>
                        <td>{{car.vehicleType}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.fuelType}}</td>
                        <td>{{car.engineCapacity}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.location}}</td>
                        <td>{{car.price}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="resources/js/app.js"></script>
    </body>

    </html>
